<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>178594253903-gc1365jt52hri7qvl7vd5kcojnu8r7t5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.178594253903-gc1365jt52hri7qvl7vd5kcojnu8r7t5</string>
	<key>API_KEY</key>
	<string>AIzaSyA3Ib9x45mkfhDG7TQC1Nd_S0ovlkVjPfo</string>
	<key>GCM_SENDER_ID</key>
	<string>178594253903</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>UNC.notbs</string>
	<key>PROJECT_ID</key>
	<string>thelyx-health</string>
	<key>STORAGE_BUCKET</key>
	<string>thelyx-health.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:178594253903:ios:ce68bc1dbbb4b747542e3a</string>
</dict>
</plist>